/*BASE STYLES APPLICABLE TO ALL SIZE SCREENS*/
* {
	color:#373D3F;
	text-decoration: none;
	list-style-type: none;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header h1,
    	h3 {
	font-family: 'Courier-New', 'Courier', monospace;
}


/*STYLES FOR SMALL SCREEN*/

main {
	width:80%;
	margin:auto;
}


.cta1 {
	display:inline-block;
	width: 300px;
	height: 200px;
	margin:1.5em;
	background-image: url(images/shop-ceramics-mugs-pottery.jpg);
	background-size:cover;
	max-width: 100%;
}

.cta2 {
	display:inline-block;
	width: 300px;
	height: 200px;
	margin: 1.5em;
	background-image: url(images/shop-ceramics-tableware-plates.jpg);
	background-size:cover;
	max-width: 100%;

}

.shop-icon {
	width: 24px;
	height: 22px;
}

.about {
	line-height: 1.5;

}



footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	background-color: grey;
}

.copyright {
	grid-column: 2/3;
	grid-row: 2/3;
}

.stayconnected {
	grid-column:3/4;
	grid-row:1/2;

}




/*MEDIA QUERIES FOR MEDIUM SCREENS*/











/*MEDIUM QUERIES FOR LARGE SCREENS*/



